@import "typography";
@import "landing";

body {
  background: white;
  max-width:360px;
}

blockquote {
  background-color: var(--warning-color);
  display: block;
  border: 1px solid black;
  font-family: "Lobster";
  letter-spacing: 0.5em;
  font-weight: 900;
}