<footer class="contentinfo" class="clearfix" id="footer">
    <nav id="nav-footer">
        <ul class="menu">
            <li class="item-200"><a href="/fr/partenaires">Tutelles</a></li>
            <li class="item-132"><a href="http://intranet-subatech/">Intranet</a></li>
            <li class="item-135"><a href="/fr/annuaires">Annuaires</a></li>
            <li class="item-357"><a href="/fr/mentions-legales">Mentions légales</a></li>
            <li class="item-962"><a href="/fr/contact">Contact</a></li>
        </ul>
        <div class="mod-languages">
            <ul class="lang-inline">
                <li class="" dir="ltr">
                    <a href="/en/">
                        <img src="/legacy/joomla/images/en.gif" alt="English (UK)" title="English (UK)" /> </a>
                </li>
            </ul>
        </div>
    </nav>
</footer>
